<delete-modal></delete-modal>

<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Game To Buy</div>

        <div class="panel-body">

            <div class="input-group">
                <input class="form-control" type="text" ng-model="gameToBuyTitleSearch" placeholder="search">
                <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
            </div>

            <div>&nbsp;</div>

            <to-buy-games></to-buy-games>

            <form ng-submit="addGameToBuy()">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="newGameToBuy" size="30"
                           placeholder="new game to buy">
            <span class="input-group-addon cursor-pointer" data-original-title="New Game To Buy Title" type="submit"
                  ng-click="addGameToBuy()">+</span>
                </div>
            </form>

        </div>
    </div>
</div>
