<ol class="list-group to-buy-list">

    <li class="list-group-item text-center "
        ng-repeat="gameToBuy in gameToBuyList | filter:gameToBuyTitleSearch">
        <span class="gameToBuyId" hidden="hidden">{{gameToBuy.id}}</span>
        {{gameToBuy.title}}
        <span class="glyphicon glyphicon-move btn btn-xs btn-default pull-left"></span>
                    <span class="glyphicon glyphicon-trash btn btn-xs btn-danger pull-right"
                          ng-click="displayRemoveGameToBuyModal($index)"></span>
                    <span class="glyphicon glyphicon-euro btn btn-xs btn-info pull-right"
                          ng-click="displayRemoveGameToBuyModal($index)"></span>
    </li>
</ol>
