<div delete-modal></div>

<div class="panel panel-primary">

    <ol class="list-group to-buy-list">

        <li class="list-group-item text-center " ng-repeat="gameToBuy in gameToBuyList">
            {{gameToBuy.title}}
            {{gameToBuy.to_buy_order}}
            <span class="glyphicon glyphicon-trash btn btn-xs btn-danger pull-right"
                   ng-click="displayRemoveGameToBuyModal($index)"></span>
            <span class="glyphicon glyphicon-euro btn btn-xs btn-info pull-right"
                      ng-click="displayRemoveGameToBuyModal($index)"></span>
        </li>
    </ol>

    <form ng-submit="addGameToBuy()">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="newGameToBuy" size="30"
                   placeholder="new game to buy">
            <span class="input-group-addon cursor-pointer" data-original-title="New Game To Buy Title" type="submit" ng-click="addGameToBuy()">+</span>
        </div>
    </form>

</div>

<script type="text/javascript">
    $(function () {
        $("ol.to-buy-list").sortable();
    })
</script>
