<start-to-play-modal></start-to-play-modal>

<div class="panel panel-primary">
    <div class="panel-heading">To Do Games</div>

    <div class="panel-body">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="gameNameSearch" placeholder="search">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
        </div>

        <div>&nbsp;</div>

        <ol class="list-group to-buy-list">

            <li class="list-group-item text-center " ng-repeat="todo in todoList|filter:gameNameSearch">
                {{todo.title}}
             <span class="glyphicon glyphicon-play btn btn-xs btn-danger pull-right"
                   ng-click="startToPlay($index)"></span>

            </li>
        </ol>
    </div>
</div>