<!doctype html>
<html lang="en" ng-app="gameManager">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Manager App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css"/>
</head>

<body>
<script src="js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="js/lib/boostrap/bootstrap.min.js"></script>

<h1 class="text-center">Game Manager</h1>

<div class="modal fade" id="modalDeletion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span id="modalDeletionItemType">...</span> Deletion</h4>
            </div>
            <div class="modal-body">
                <p>Do you really whant to delete : <h4><span id="modalDeletionItemName">...</span></h4></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modalDeletionButtonNo">No
                </button>
                <button type="button" class="btn btn-danger" id="modalDeletionButtonYes">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <!--CONSOLES-->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Consoles</div>
                <div class="panel-body">

                    <!--CONSOLE SEARCH-->
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="consoleNameSearch" placeholder="search">
                        <span class="input-group-addon"> <span class="glyphicon glyphicon-search"></span> </span>
                    </div>

                    <div>&nbsp;</div>

                    <!--CONSOLES LISTE-->
                    <div class="list-group" ng-controller="ConsoleController">
                        <span class="console-list-items">
                            <a href="#/games/{{console.id}}" class="list-group-item"
                               ng-repeat="console in consoles | filter:consoleNameSearch">
                                {{console.name}}
                                <span class="glyphicon glyphicon-trash btn btn-xs btn-danger pull-right"
                                      ng-click="displayRemoveConsoleModal($index)"></span>
                            </a>
                        </span>

                        <div>&nbsp;</div>

                        <!--ADD NEW CONSOLE-->
                        <form ng-submit="addConsole()">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="newConsole" size="30"
                                       placeholder="new console"/>
                                <span class="input-group-addon cursor-pointer" type="submit" data-original-title="New Console Name"
                                      ng-click="addConsole()"> + </span>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!--GAMES-->
        <div class="col-md-6">
            <div ng-view></div>
        </div>

    </div>
</div>


<script src="js/lib/angular/angular.min.js"></script>
<script src="js/lib/angular/angular-route.min.js"></script>
<script src="js/lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/resource/gameResource.js"></script>
<script src="js/resource/gameStatusResource.js"></script>
<script src="js/resource/gameDematerializeResource.js"></script>
<script src="js/resource/consoleResource.js"></script>
<script src="js/service/services.js"></script>
<script src="js/controller/controllers.js"></script>
<script src="js/filter/filters.js"></script>
<script src="js/directive/directives.js"></script>
<script src="js/utils.js"></script>
<script src="js/modalControl.js"></script>

</body>
</html>

