<!doctype html>
<html lang="en" ng-app="gameManager">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Manager App</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<h1 class="text-center">Game Manager</h1>

<div class="modal fade" id="consoleModalDeletion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Game Deletion</h4>
            </div>
            <div class="modal-body">
                <p>Do you really whant to delete : </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="consoleModalDeletionNo">No
                </button>
                <button type="button" class="btn btn-danger" id="consoleModalDeletionYes">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="gameModalDeletion">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Game Deletion</h4>
            </div>
            <div class="modal-body">
                <p>Do you really whant to delete : </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="gameModalDeletionNo">No
                </button>
                <button type="button" class="btn btn-danger" id="gameModalDeletionYes">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <!--CONSOLES-->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Consoles</div>
                <div class="panel-body">

                    <!--CONSOLE SEARCH-->
                    <input class="form-control" type="text" ng-model="consoleNameSearch" placeholder="search">

                    <div>&nbsp;</div>

                    <!--CONSOLES LISTE-->
                    <div class="list-group" ng-controller="ConsoleController">
                        <span class="console-list-items">
                            <a href="#/games/{{console.id}}" class="list-group-item"
                               ng-repeat="console in consoles | filter:consoleNameSearch">
                                {{console.name}}
                                <button type="button" class="btn btn-xs btn-danger pull-right"
                                        ng-click="displayRemoveConsoleModal(console.id)">-
                                </button>
                            </a>
                        </span>

                        <div>&nbsp;</div>

                        <!--ADD NEW CONSOLE-->
                        <form ng-submit="addConsole()">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="newConsole" size="30"
                                       placeholder="new console"/>
                                <span class="input-group-addon cursor-pointer" type="submit"
                                      ng-click="addConsole()"> + </span>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!--GAMES-->
        <div class="col-md-6">
            <div ng-view></div>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/gameResource.js"></script>
<script src="js/gameStatusResource.js"></script>
<script src="js/consoleResource.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<script src="js/utils.js"></script>
</body>
</html>

